---
---

// default setup

////
// fonts
//
$body-font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$em-font-family: "OpenSansItalic", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$heading-font-family: $body-font-family;

////
// color scheme
//
// nav buttons
$nav-color: #93bd20;
$nav-color-2: #659e10;
$nav-border-color: #5d910b;

$nav-hover-color: #749619;
$nav-hover-color-2: #527f0e;
$nav-hover-background-color: #659e10;

// emphasize colors
$em-color: #93bd20;
$em-color-2: #659e10;

// link colors
$link-color: #ffcc00;
$link-color-hover: #ffeb9b;

// background and borders colors
$body-background-color: #2a2a29;
$body-background-color-2: #1c1c1c;
$section-background-color: dimgray;
$section-border-color: #93bd20;