<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="robots" content="index,follow,notranslate" />
    <meta http-equiv="content-language" content="en" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=yes"
    />

    {% seo %}
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>

    {% include head-custom.html %}
  </head>
  <body>
    <div id="header">{% include nav.html nav=site.data.menu %}</div>
    <div class="wrapper">
      <div id="main_content">{{ content }}</div>
      <section>
        <div id="title">
          <hr/>
          <span class="credits left"
          >This page is maintained by 
            <a href="https://github.com/markolalovic/">Marko Lalovic</a>
          </span>
          <span class="credits right">Theme is based on Midnight theme by
            <a href="https://github.com/mattgraham/">Matt Graham</a>
          </span>
        </div>
      </section>
    </div>
  </body>
</html>
